* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes MoveUpDown {
  50% {
      transform: translateY(-5px)
  }
}

@keyframes slide {
  10% {
      opacity: 1
  }

  20% {
      opacity: 1
  }

  30% {
      opacity: 0
  }

  40% {
      transform: scale(1.1)
  }
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-spacing: 1rem;
  --slide-size: 50%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  align-items: center;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}